.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw; 
}
.form-container{
  height: 100%; 
  width: 80%; 
}

@media (min-width: 768px){
  .form-container{
    height: 80%; 
    width: 60%; 
  }
}